:root {
  --nav-height: 75px;
  --colorPalette1: #61dafb;
  --colorPalette2: #20232a;
  --colorPalette3: #3d4754;
  --colorPalette4: #ffffff;

  --colorPalette5: #79b6f2;
  --colorPalette6: #fc929e;
  --colorPalette7: #8dc891;
  --colorPalette8: #fac863;

}

html{
  scroll-behavior: smooth;
}

/*TAG STYLES*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

/*NAV BAR STYLES*/

.navbar{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--colorPalette2);
  box-sizing: border-box;
}

.navbar-logo-container {
  padding: 20px;
  display: flex;
}

.navbar-logo-container h1 {
  margin: auto 15px;
  font-size: 15PX;
  color: var(--colorPalette4);
}

.navbar-logo-img {
  width: 35px;
}

.navbar-links-container {
  margin: auto;
  margin-right: 40px;
  display: none;
  text-transform: uppercase;
  color:  var(--colorPalette4);
}

.navbar-links-container a {
  text-decoration: none;
  color:  var(--colorPalette4);
  margin: 20px;
}

.navbar-links-container ul {
  list-style-type: none;
  margin: 0;
}

.navbar-links-container li {
  display: inline;
  text-transform: uppercase;
  padding: 10px;
}

#myLinks {
  position: absolute;
  width: 100%;
  background-color:  var(--colorPalette2);

}

#myLinks.slide-in {
  display: block;
  animation: slideInAnimation 0.5s forwards; /* Apply the slide-in animation when "slide-in" class is added */
}

#myLinks.slide-out {
  display: none;
  animation: slideOutAnimation 0.5s forwards; /* Apply the slide-out animation when "slide-out" class is added */
  
}

#myLinks a:link, a:active, a:visited {
  color:  var(--colorPalette4);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0px;
}

#myLinks a:hover {
  color:  var(--colorPalette4);
  text-decoration: underline;
  cursor: pointer;
}

#myLinks li {
  text-align: center;
  padding: 15px;
  border-style: solid;
  border-color:  var(--colorPalette4);
}

#myLinks li:hover{
  background-color:  var(--colorPalette1);
}

@keyframes slideInAnimation {
  from {
    right: -4000px; /* Start position for slide-in animation */
    opacity: 0%;
  }
  to {
    top: 70px;
    right: 0;
    opacity: 100% /* End position for slide-in animation */
  }
}

@keyframes slideOutAnimation {
  from {
    top: 70px;
    opacity: 100% /* Start position for slide-out animation */
  }
  to {
    right: -400px;
    opacity: 0% /* End position for slide-out animation */
  }
}


.hamburger-button-container {
  margin: auto 50px;
}

#icon {
  display: block;
  color: white;
  font-size: 15px;
}

.section-container-white{
  background: white;
}


.section-container-black{
  background: radial-gradient(circle,  var(--colorPalette3),  var(--colorPalette2));
}

.tools-section{
  min-height: 50vh;
  max-height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container2b{

  min-height: 50vh;
  max-height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container2c{

  min-height: 50vh;
  max-height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: radial-gradient(circle,  var(--colorPalette3),  var(--colorPalette2));
  color: #ffffff;
}

.svg-section{
  min-height: 50vh;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  background: radial-gradient(circle,  var(--colorPalette3),  var(--colorPalette2));
}




.hero-section {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin: 0;
  color: var(--colorPalette4);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: minmax(0, 1fr);
  gap: 10px;

}

.hero-section2 {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  margin: 0;
  color: var(--colorPalette4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.wrapper {
  box-sizing: border-box;
  background-image: url("/public/images/studio.jpg");
  background-size: cover;
 
  height: auto;
  margin: 20px;
  overflow: hidden;
  
}

.wrapper2 {
  box-sizing: border-box;
  padding: 0px 20px;
  flex: 0 0 auto;
  text-align: left;

}
.wrapper2 h1 {
  font-size: 40px;
  padding-bottom: 10px;
  line-height: 1.2;
}
.wrapper2 p {
  color: var(--colorPalette4);
  font-size: 16px;
  line-height: 1.6;
}


#cta-button {
  /* Define the button's appearance */
  background-color: var(--colorPalette1);
  color: var(--colorPalette4);
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
}

#cta-button2 {
  /* Define the button's appearance */
  
  background-color: var(--colorPalette1);
  color: var(--colorPalette4);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
}

#cta-button:hover {
  /* Define the button's hover effect */
  background-color: var(--colorPalette5)
}

.hero-section-image {
  max-width: 100%;
  
}

.language-logos-section{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
   
}

.language-logos-section h2{
  padding: 0 20px;  
}

.logo-wrapper{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  width: 4rem;
  transition: transform 0.3s;
  cursor: grab;
  
}

.logo:hover {
  transform: scale(1.2);
}

.logo:active {
  transform: scale(0.8);
}

#find-out-wrapper{
  padding: 20px 20px 20px 20px;
  font-size: 50px;
  height: 100%;
  box-shadow:100px 100px 100px white ;
}
.progress-container{
  background-color: var(--colorPalette3);
  margin: auto;
  width: 60%;
}
#find-out-info {
  color: var(--colorPalette4);
  padding: 40px;
  font-size: 14px;
  height: 100%;
  display: none;
  flex: 1;
  box-sizing: border-box;
}

#info{
  width: 100%;
  font-size: large;
}

#click-to-find-out{
  padding-bottom: 40px;
  color: var(--colorPalette1);
  font-size: x-large;
}

#find-out-title{
  font-size:x-large;
  color: var(--colorPalette4);
}



#svg-logo1 {
  max-width: 75vw;
  max-width: 50vw;
  
}



#svg-logo2 {
  width:100%;
  height:auto;
  max-width: 25vh;
  padding: 0px;
}

#svg-logo3 {
  max-width: 25vh;
}

#svg-logo2:hover{
  cursor: grab;
}

#svg-logo1 path:nth-child(1){
  stroke-dashoffset:314.71588134765625;
  stroke-dasharray:314.71588134765625;
  animation: line-anim 1s ease forwards ;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(2){
  stroke-dashoffset:383.78582763671875;
  stroke-dasharray:383.78582763671875;
  animation: line-anim 1s ease forwards 0.1s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(3){
  stroke-dashoffset:286.6756286621094;
  stroke-dasharray:286.6756286621094;
  animation: line-anim 1s ease forwards 0.2s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(4){
  stroke-dashoffset:411.4433288574219;
  stroke-dasharray:411.4433288574219;
  animation: line-anim 1s ease forwards 0.3s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(5){
  stroke-dashoffset:665.70068359375;
  stroke-dasharray:665.70068359375;
  animation: line-anim 1s ease forwards 0.4s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(6){
  stroke-dashoffset:343.6822814941406;
  stroke-dasharray:343.6822814941406;
  animation: line-anim 1s ease forwards 0.5s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(7){
  stroke-dashoffset:333.55401611328125;
  stroke-dasharray:333.55401611328125;
  animation: line-anim 1s ease forwards 0.6s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(8){
  stroke-dashoffset:430.6490783691406;
  stroke-dasharray:430.6490783691406;
  animation: line-anim 1s ease forwards 0.7s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(9){
  stroke-dashoffset:151.55203247070312;
  stroke-dasharray:151.55203247070312;
  animation: line-anim 1s ease forwards 0.8s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(10){
  stroke-dashoffset:417.7154235839844;
  stroke-dasharray:417.7154235839844;
  animation: line-anim 1s ease forwards 0.9s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(11){
  stroke-dashoffset:314.71588134765625;
  stroke-dasharray:314.71588134765625;
  animation: line-anim 1s ease forwards 1s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(12){
  stroke-dashoffset:355.3514404296875;
  stroke-dasharray:355.3514404296875;
  animation: line-anim 1s ease forwards 1.1s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(13){
  stroke-dashoffset:435.9807434082031;
  stroke-dasharray:435.9807434082031;
  animation: line-anim 1s ease forwards 1.2s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(14){
  stroke-dashoffset:338.00872802734375;
  stroke-dasharray:338.00872802734375;
  animation: line-anim 1s ease forwards 1.3s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(15){
  stroke-dashoffset:343.68243408203125;
  stroke-dasharray:343.68243408203125;
  animation: line-anim 1s ease forwards 1.4s;
  animation-play-state: inherit;
}
#svg-logo1 path:nth-child(16){
  stroke-dashoffset:345.7844543457031;
  stroke-dasharray:345.78445434570312;
  animation: line-anim 1s ease forwards 1.5s;
  animation-play-state: inherit;
}

@keyframes line-anim{
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  to {
    fill: white;
  }
}

.container7{
  width: 300px;
  height:300px;
}

.react-img{
  width: 75vw;
}




@media only screen and (min-width: 768px) {
  
  #myLinks {
    display: none;
  }

  .hamburger-button-container {
    display: none;
  }
  .navbar-links-container {
    display: unset;
  }
  
  .wrapper{
    box-sizing: border-box;
  }

  .wrapper2{
    padding: 20px;
    box-sizing: border-box;
  }

  .wrapper2 h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 1;
    word-spacing: -10;
  }
  .wrapper2 p {
    font-size: 1.4rem;
    color: white;
    line-height: 1;
  }

  #cta-button{
    margin:35 0;
    font-size: 1.4rem;
  }

  .logo {
    width: 6rem;
  }



}

@media only screen and (min-width: 1000px) {


  .wrapper2 h1 {
    font-size: 3rem;
    line-height: 1.6;
  }
  .wrapper2 p {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .logo {
    width: 7rem;
    transition: transform 0.3s;
  }
}


#info {
  font-size: 16px; /* Set a base font size */
}

/* Responsive font size using vw unit */
@media screen and (max-width: 768px) {
  /* Adjust the font size for smaller screens */
  #info {
    font-size: 3vw; /* The font size will be 4% of the viewport width */
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Adjust the font size for medium-sized screens */
  #info {
    font-size: 2vw; /* The font size will be 3% of the viewport width */
  }
}

@media screen and (min-width: 1201px) {
  /* Adjust the font size for larger screens */
  #info {
    font-size: 1.5vw; /* The font size will be 2% of the viewport width */
  }
}